.form{
  text-align: center;
  font-size: 20px;
}

button{
  background: #9b0b0b;

}

button:hover{
  background: green;

}


.user{
  text-align: center;
  font-size: 25px;
  font-family: cursive;
}

.warning{
  color: #9b0b0b;
  font-weight: bold;
}
